.main-page {
  width: 100vw;
  height: 100vh;
  
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 64px 1fr 64px;

  grid-template-areas:
    "header header-group"
    "tab main"
    "user main";
}

.app-bar {
  transition: background-color 0.15s ease-in-out;
  background-color: var(--color-primary);
}

.app-bar-main {
  grid-area: header;
}

.app-bar-group {
  grid-area: header-group;
}


.tab-panel {
  grid-area: tab;
  background-color: var(--color-surface);
}

.message-panel {
  grid-area: main;
  flex: 3;
}

.user-panel {
  grid-area: user;
  background-color: var(--color-surface);
}
