.host {
  width: 100%;
  height: 100%;
  background-image: url('../../tileable-background.svg');
  background-size: 64px;
  background-color: var(--color-surface-dark);

  display: flex;
  flex-direction: row;
}

.surface {
  height: 100%;
  background-color: var(--color-surface);

  padding: 24px;

  box-shadow: 8px 0px 36px rgba(0, 0, 0, 0.25);
}

.surface-mobile {
  width: 100vw;
}

.surface-desktop {
  width: 500px;
}

.decoration {
  flex: 1;
  height: 100%;
}