.tappable {
  cursor: pointer;
}

.disabled {
  background-color: var(--color-control);
  color: var(--color-text-disabled);
}

.tappable:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.125);
}

.selected {
  background-color: var(--color-control);
}

input, textarea {
  background-color: transparent;
  border: 0;

  font-size: 16px;
  color: var(--color-text-primary);

  transition: all 0.15s ease-in-out;
}

select {
  background-color: var(--color-control);
  border-radius: 12px;
  appearance: none;
  border: 0;

  font-size: 16px;
  color: var(--color-text-primary);

  transition: all 0.15s ease-in-out;
  padding: 12px;

  width: 100%;
}

select:focus {
  outline: 0;
}

select > option {
  transition: background-color 150ms ease-in-out;
  background-color: var(--color-surface);
  color: var(--color-text-primary);
}

button {
  transition: all 0.15s ease-in-out;
  border: 0;  
  background-color: transparent;
}

button:focus {
  outline: 0;
}

input:focus, textarea:focus {
  outline: 0;
}

.surface {
  background-color: var(--color-surface);
}

.control {
  background-color: var(--color-control);
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-size: 16px;
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
