.root-light {
  --color-surface: var(--color-surface-light);
  --color-surface-primary: var(--color-primary-lightest);
  --color-canvas: var(--color-canvas-light);
  --color-control: var(--color-control-light);

  --color-text-primary: var(--color-on-light-text-primary);
  --color-text-muted: var(--color-on-light-text-muted);
  --color-text-disabled: var(--color-on-light-text-disabled);
}

.root-dark {
  --color-surface: var(--color-surface-dark);
  --color-surface-primary: var(--color-primary-darkest);
  --color-canvas: var(--color-canvas-dark);
  --color-control: var(--color-control-dark);

  --color-text-primary: var(--color-on-dark-text-primary);
  --color-text-muted: var(--color-on-dark-text-muted);
  --color-text-disabled: var(--color-on-dark-text-disabled);
}

* {
  box-sizing: border-box;
}