body {
  font-family: 'Roboto';
  margin: 0;

  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);

  overflow: hidden;

  --color-canvas-light: #E7EEF4;
  --color-surface-light: #FDFDFD;
  --color-control-light: #F7F7F7;

  --color-canvas-dark: #0A1115;
  --color-surface-dark: #1B2024;
  --color-control-dark: #151A1E;

  --color-primary-lightest: #A9DAFF;
  --color-primary-light: #79C5FF;
  --color-primary: #1097FF;
  --color-primary-dark: #004F8B;
  --color-primary-darkest: #003D6B; 
  
  --color-success-lightest: #4BFF99;
  --color-success-light: #1AFF7E;
  --color-success: #00D45C;
  --color-success-dark: #005E29;
  --color-success-darkest: #003617;
  
  --color-warning-lightest: #FFD570;
  --color-warning-light: #FFC741;
  --color-warning: #FFB400;
  --color-warning-dark: #A97700;
  --color-warning-darkest: #775400;
  
  --color-danger-lightest: #FF7077;
  --color-danger-light: #FF414B;
  --color-danger: #FF000D;
  --color-danger-dark: #A60008;
  --color-danger-darkest: #750006;

  --color-group-1: #EE2837;
  --color-group-2: #F47F29;
  --color-group-3: #F4BE29;
  --color-group-4: #1FB941;
  --color-group-5: #1A988A;
  --color-group-6: #3039A9;
  --color-group-7: #6D25A4;
  --color-group-8: #D32468;

  --color-on-light-text-primary: #111111;
  --color-on-light-text-muted: #777777;
  --color-on-light-text-disabled: #DBDBDB;

  --color-on-dark-text-primary: #FEFEFE;
  --color-on-dark-text-muted: #777777;
  --color-on-dark-text-disabled: #707070;
}

.root {
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
