body {
  margin: 0;
}

.body {
  background-color: var(--color-canvas);
}

.body-light {
  --color-surface: #FDFDFD;
  --color-canvas: #E7EEF4;
  --color-control: #F7F7F7;

  --color-text-primary: var(--color-on-light-text-primary);
  --color-text-muted: var(--color-on-light-text-muted);
  --color-text-disabled: var(--color-on-light-text-disabled);
}

.body-dark {
  --color-surface: #1B2024;
  --color-canvas: #0A1115;
  --color-control: #151A1E;

  --color-text-primary: var(--color-on-dark-text-primary);
  --color-text-muted: var(--color-on-dark-text-muted);
  --color-text-disabled: var(--color-on-dark-text-disabled);
}
