.App {
  --color-text-primary: #eee;
  --color-text-muted: #999;

  --color-canvas: #242424;
  --color-divider: #303030;
  --color-surface: #1F1F1F;
  --color-control: #191919;
  --color-control-outline: rgba(255, 255, 255, 0.06);
}

* {
  box-sizing: border-box;
  font-size: 16px;
  color: white;
}

.input {
  transition: all 0.12s cubic-bezier(0.645, 0.045, 0.355, 1);

  background-color: var(--color-control);
  border: 0;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;

  color: var(--color-text-primary);
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--color-divider);
}

.input:focus {
  outline: 0;
  box-shadow: 0px 0px 0px 5px var(--color-control-outline);
}

.text-title {
  font-size: 28px;
  font-weight: 600;
}

.text-primary {
  color: var(--color-text-primary);
}

.text-muted {
  color: var(--color-text-muted);
}