#host {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-canvas);
  display: flex;
  align-items: center;
  justify-content: center;
}

#body {
  width: 25vw;
  padding: 24px;

  background-color: var(--color-surface);
  border-radius: 12px;
  
  display: flex;
  flex-direction: column;
}